.main-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    margin-top: 50px;
     
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px; 
    width: 1000px;
  
}

.footer-left-logo img{
  width: 300px;
}

.footer-center-item{
    width: 200px;  
    position: relative;
    top: 60px;     
}
.footer-center-item a{
    display: block;
    font-size: 18px;
    color: black;
    font-family: 'Uncut Sans';
    font-weight: 500;

}
 

.btn1 button{
    background-color:rgb(250, 240, 0);
    width: 180px;
    height:35px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 900;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 30px;
    transform: scale(.8, 1.5);
 }

 

 .footer-second .icons{
   font-size: 25px;
   margin-top: 30px;
   cursor: pointer;
 }
 .footer-thred{
   width: 900px;
   padding: 2px 10px;
   position: relative;
   /* margin: auto; */
 
 }
 .footer-thred span{
color: rgb(91, 89, 89);
font-size: 15px;
 cursor: pointer;
 font-family: 'Uncut Sans';
 font-weight: normal;

 }
 
 .footer-thred .span-two{
     position: relative;
     left: 200px;
 }
 .footer-end{
   position: absolute;
   left: 280px;
   top: 40px;
 }
 .footer-end span{
    font-size: 90%;
    font-family: 'Uncut Sans';
 font-weight: normal;
  

 }
 .footer-end button{
    outline: none;
    border: none;
    font-size: 14px;
    transform: scale(.7, 1.2);
    cursor: pointer;
    font-family: 'Uncut Sans';
     font-weight: 300;

 }
  .footer-end #btn1{
    opacity: 0.6;
  }

  /* responsive */
@media  screen and (min-width:200px) and (max-width:767px){
  .footer{
    display: block;
    width: 500px;
    margin: auto;
   }
   .footer-left-logo img{
    width: 270px;
  }
   .footer-center-item{
    left: 20px;
   }
   
   
   .btn1 button{
    margin-top: 100px;
    margin-left: -10px;
   }
   .footer-second{
     margin-left: -70px;
   }
   .footer-thred{
   margin-left: 100px;
   margin: auto;
   }
   .footer-thred .span-two{
    left: -180px;
    top: 20px;
   }
   .footer-end{
    left: 10px;
   top: 50px;
   width: 300px;
   }
   
}
@media  screen and (min-width:768px) and (max-width:991px) {
  .footer{
    gap: 60px;
    width: 500px;
   }
   .footer-thred {
    margin-left: 250px;
   }
   .footer-thred .span-two{
    left: -180px;
    top: 20px;
   }
   .footer-end{
    left: 10px;
   top: 50px;
    margin-left: 200px;  
   }
    
}

@media  screen and (min-width:992px) and (max-width:1024px) {  
   .footer{
    gap: 60px;
   }
   .footer-thred {
    margin-left: 100px;
   }
   
}

@media  screen and (min-width:1025px) and (max-width:1200px) {  
}