.main-forth{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 50px;
    margin-top: 100px;
}
.forth{
    max-width: 1400px;
    height: 400px;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 10px 30px;  
}
.left-four-sec-item{
    width:430px;

}
.left-four-sec-item video{
    width: 100%;
    border-radius: 30%;
}
.right-four-sec-item{
 width: 700px; 
 display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
.right-four-sec-item h1{
    font-size: 50px;
    line-height: 83%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;  
    transform: scale(.8, 1.5);
    font-family: "__condensedFont_423d75", "__condensedFont_Fallback_423d75"
    
}

.right-four-sec-item p{
    font-size: 20px;
   width: 560px;
   font-weight: 500;
   margin-top: 20px;
   font-family: Uncut Sans, "__defaultFont_095b20", "__defaultFont_Fallback_095b20"
    
}

/* responsive */
@media  screen and (min-width:200px) and (max-width:767px){
    .main-forth{
        margin-top: 50px;
    }
    .forth{
        gap: 80px;
        flex-direction: column;
    }    
    .left-four-sec-item{
        width:300px;
        margin-top: 300px;
       
         
     
    }
    .left-four-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-four-sec-item{
        margin: auto;
        margin-left: 40px;
    }
    .right-four-sec-item h1{
        font-size: 40px;
        margin-left: 30px;
        width: 400px;
    }
    .right-four-sec-item p{
        font-size: 17px;
        width: 290px;
    }
}
@media  screen and (min-width:768px) and (max-width:991px) {
    .main-forth{
        margin-top: 50px;
    }
    .forth{
        gap: 80px;
        flex-direction: column;
    }    
    .left-four-sec-item{
        width:400px;
        margin-top: 200px;
     
    }
    .left-four-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-four-sec-item h1{
        font-size: 45px;
        width: 90%;
        margin-left: 20px;
    }
    .right-four-sec-item p{
        font-size: 17px;
        width: 70%;
    }
}

@media  screen and (min-width:992px) and (max-width:1024px) { 
    .forth{
        gap: 0px;
    }    
    .left-four-sec-item{
        width:400px;
     
    }
    .left-four-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-four-sec-item h1{
        font-size: 45px;
    }
    .right-four-sec-item p{
        font-size: 17px;
    }
}

@media  screen and (min-width:1025px) and (max-width:1200px) {  
}