 .nav{
    background-image: url('https://next.aglietech.wowtheme7.com/assets/img/banner-3/5.png');
   background-position: center;
   background-size: cover;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
     

 }
 .navbar{
  max-width: 1400px;
  height: 72px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 10px auto;
  /* position: static; */
  gap: 200px;
  padding-left: 5px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1); */
 }


 .nav-center-item .dropdown{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 30px;
 }
 .nav-center-item .dropdown li a{
    color: black;
    font-size: 1.2rem;
 }

 .nav-center-item ul li a:hover{
     border-bottom: 0.1rem solid black;
 }

 /* dropdown */
 
 
 li{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 70px;
    left: -30px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #0984e3; color: #ffff;}
  .dropdown:hover .dropdown-content {display: block;}
  
 .nav-right-item{
    display: flex;
    align-items: center;
    gap: 20px;
 }
   

 .figth-first-item a{
    margin-left: 10px;
    color: black;
    font-size: 1.2rem;
 }
 .figth-first-item a:hover{
  border-bottom: 1px solid black   ;
 }
  
 .btn button{
    background-color:rgb(250, 240, 0);
    width: 170px;
    height: 72px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    padding: 2px 2px;
    cursor: pointer;
 }
 #hammenu{
    font-size: 22px;
    font-weight: 600;
    display: none;
 }

  
 /* mobile */
 .mobile-item{
    width: 100%;
    /* border: 2px solid red; */
    background-color: #ffff;
     position: absolute;
     top: 110px;
     left: 0;
     display: flex;
     align-items: center;
     justify-content: center;
      transition: ease-in-out 5ms;
      transform-origin: top;
 }

 .mobile-items li{
    height: 40px;
    
   
 }
 .mobile-items li a{
    color: black;
    font-size: 18px;
     
 }

 .hero-sec{
    margin-top: 150px;
    transition: ease-in 10ms;
    transform-origin: top;
 }
 
 @media  screen and (min-width:200px) and (max-width:767px){
    .navbar{
        gap: 0px;
        padding: 0px 40px;
        width: 100%;
    }
    .nav-center-item .dropdown{
          display: none;
          gap: 70px;
    }

    .btn{
        display: none;
    }
    #hammenu{
        display: block;
        cursor: pointer;
    }

 }
 @media  screen and (min-width:768px) and (max-width:991px) {
    .navbar{
        gap: 0px;
        padding: 0px 40px;
        width: 100%;
    }
    .nav-center-item .dropdown{
          display: none;
          gap: 70px;
    }
    .btn{
        display: none;
    }
    #hammenu{
        display: block;
        cursor: pointer;
    }
 }

 @media  screen and (min-width:992px) and (max-width:1024px) {
    .navbar{
        gap: 75px;
    }  
 }

 @media  screen and (min-width:1025px) and (max-width:1200px) {
   .navbar{
       gap: 100px;
   }  
}