.main-second{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 50px;
    margin-top: 100px;
}
.second{
    max-width: 1400px;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding: 5px 35px;
}
.main-second .box-one{
    width: 27%;
    overflow: hidden;
    height: 200px;
    border-radius: 4px;
    margin: auto;   
    background-color: #ffff;
   box-shadow: 2px 2px 3px rgb(250, 249, 249),-2px -2px 3px rgb(249, 246, 246);
   padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main-second .box-one h2{
    font-size: 40px;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 2px;
    
   
}
.main-second .box-one h2:hover{
color: #3498db;
transition: ease-in 0.5s;
}

.main-second .box-one p{
    font-size: 16px;
    font-family: 'Uncut Sans';
    font-weight: normal;
   
}




/* responsive */
@media  screen and (min-width:200px) and (max-width:767px){
    
    .second{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .main-second .box-one{
        width: 320px;
        height: 200px;
    }

}
@media  screen and (min-width:768px) and (max-width:991px) {
    .second{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .main-second .box-one{
        width: 320px;
        height: 200px;
    }
}

@media  screen and (min-width:992px) and (max-width:1024px) {  
    
}

@media  screen and (min-width:1025px) and (max-width:1200px) {  
   
}
