.main-seven{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 50px;
<<<<<<< HEAD
    margin-top: 50px;
=======
>>>>>>> 6809c92 (few more little changes)
    background-color: #ecf0f1;
    height: 700px;
}
.seven{
    max-width: 1400px;
    height: 400px;
    display: flex;
   justify-content: center;
   align-items: center;
   width: 1400px;
   gap: 10px;
 
   padding: 10px 30px;  
}
.left-seven-sec-item{
    width:430px;
}
.left-seven-sec-item img{
    width: 100%;
}
.right-seven-sec-item{
 width: 700px; 
 display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    gap: 20px;
    flex-direction: column;
}
.right-seven-sec-item h1{
    font-size: 50px;
    line-height: 83%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;  
    transform: scale(.8, 1.5);
    font-family: "__condensedFont_423d75", "__condensedFont_Fallback_423d75"
=======
     padding: 20px;
    flex-direction: column;
}
.right-seven-sec-item h1{
    font-size: 65px;
    line-height: 83%;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;  
    transform: scale(1, 1);
    letter-spacing: 3px;
    width: 400px;
    position: relative;
    left: -80px;
>>>>>>> 6809c92 (few more little changes)
    
}

.right-seven-sec-item p{
    font-size: 20px;
    width: 560px;
<<<<<<< HEAD
   font-size: 18px;
   font-weight: 500;
   margin-top: 20px;
 
   font-family: Uncut Sans, "__defaultFont_095b20", "__defaultFont_Fallback_095b20"
    
=======
    margin-top: 20px;
    font-family: 'Uncut Sans';
     font-weight: normal;
     letter-spacing: 0.8px;
>>>>>>> 6809c92 (few more little changes)
}

/* responsive */
@media  screen and (min-width:200px) and (max-width:767px){
    .main-seven{
        margin-top: 250px;
    }
    .seven{
        gap: 0px;
        flex-direction: column;
        height: 500px;
    }    
    .left-seven-sec-item{
        width:380px;
       margin-top: 50px;   
     
    }
    .left-seven-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-seven-sec-item{
       margin: auto;
       margin-top: 50px;
       margin-left: 20px;
        
    }
    .right-seven-sec-item h1{
        font-size: 40px;
        /* margin-left: 40px; */
        width: 415px;
    }
    .right-seven-sec-item p{
        font-size: 17px;
        width: 290px;
    }
}
@media  screen and (min-width:768px) and (max-width:991px) {
    .main-seven{
        margin-top: 250px;
    }
    .seven{
        gap: 0;
        flex-direction: column;
        width: 500px;
    }    
    .left-seven-sec-item{
        width:380px;
        margin-top: 50px;
     
    }
    .left-seven-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-seven-sec-item{
        margin-top: 80px;
    }
    .right-seven-sec-item h1{
        font-size: 45px;
        width: 90%;
        margin-left: 20px;
    }
    .right-seven-sec-item p{
        font-size: 17px;
        width: 70%;
    }
}

@media  screen and (min-width:992px) and (max-width:1024px) { 
    .seven{
        gap: 0px;
    }    
    .left-seven-sec-item{
        width:400px;
     
    }
    .left-seven-sec-item video{
        width: 100%;
        border-radius: 30%;
    } 
    .right-seven-sec-itemh1{
        font-size: 45px;
    }
    .right-seven-sec-item p{
        font-size: 17px;
    }
}

@media  screen and (min-width:1025px) and (max-width:1200px) {  
}