.main-thred{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 80px;
    margin-top: 100px;
 
}
.thred p{
    font-size: 17px;
    font-weight: 500;
    font-family: 'Uncut Sans';
    font-weight: 500;
}
.thred p i{
    font-style: normal;
 background-color: #e67e22;
 padding: 0px 8px;
 font-size: 19px;
 color: white;
}
 
.logo-img{
    display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   margin-top: 20px;
   flex-wrap: wrap;
}
.logo-img img{
    width: 120px;
}
/* dfghjp[] */

    


/* responsive */
@media  screen and (min-width:200px) and (max-width:767px){
    .thred p{
        font-size: 15px;
    }
    .logo-img img{
        width: 80px;
    }
}
@media  screen and (min-width:768px) and (max-width:991px) {
}

@media  screen and (min-width:992px) and (max-width:1024px) {   
}

@media  screen and (min-width:1025px) and (max-width:1200px) {  
}
 